@import '../variables.scss';

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__content {
    @media (max-width: $md) {
      order: 1 !important;
    }
  }

  &__container {
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-width: $xl) {
      padding: 30px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    @media (max-width: $md) {
      max-width: 500px;
    }
  }

  &__text {
    font-family: $satoshi;
    color: #505977;
    margin: 20px 0;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: $md) {
      max-width: 500px;
    }
  }

  &__text--second {
    font-family: $satoshi;
    color: #505977;
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: $lg) {
      display: none;
    }
  }

  &__button {
    color: #505977;
    margin-top: auto;

    @media (max-width: $md) {
      margin-top: 15px;
    }

    @media (max-width: $sm) {
      width: 100%;
    }
  }

  &__input {
    display: flex;
    margin-top: auto;

    @media (max-width: $md) {
      margin-top: 35px;
    }

    @media (max-width: $sm) {
      width: 100%;
      flex-direction: column;

      & > button {
        margin-top: 15px;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (max-width: $md) {
      max-height: 400px;
    }
  }

  @media (max-width: $md) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (max-width: $sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}
