@import '../variables.scss';

.features {
  &__container {
    margin: 60px 80px;

    @media (max-width: $md) {
      margin: 50px 30px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
  }

  &__items {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;

    @media (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
