@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/clash-display');

// fonts
$satoshi: 'Satoshi', sans-serif;
$clash-display: 'Clash Display', sans-serif;

// colors
$primary: #4e4d93;
$primary-dark: #2a254b;
$gray: #5b5676;
$light-gray: #f9f9f9;
$white: #ffffff;

// borders
$border-gray: #ebe8f4;
$border-dark: #cac6da;

// sizes
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
